<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' type='text/css' href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css">

    {% if FAVICON %}
    <link rel="shortcut icon" href="{{ FAVICON }}" type="image/x-icon">
    <link rel="icon" href="{{ FAVICON }}" type="image/x-icon">
    {% endif %}

    {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="{{ SITEDESCRIPTION }}" />
    {% endblock %}

    <title>{{ SITENAME }}{% block title %}{% endblock %}</title>
    <!-- WARNING: extras in block head may override base -->
    {% block head %}
    {% endblock head %}

    </head>
    <body>
    {% block content %}
    {% endblock %}
    </body>
</html>