{% extends "base.html" %}

{% block content %}
    <div class='radial'>
    <span><span></span></span>
    <div class="wrap">
        <a href="#">
            <div></div>
        </a>
        <a href="#">
            <div></div>
        </a>
        <a href="#">
            <div></div>
        </a>
        <a href="#">
            <div></div>
        </a>
        <a href="#">
            <div></div>
        </a>
    </div>
    </div>

{% for article in articles_page.object_list %}
<article>
Print.
</article>
{% endfor %}

{% endblock %}