{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/index.css">
{% endblock head %}

{% block content %}
    <div class='radial'>
    <span><span></span></span>
    <div class="wrap">
        <a href="#">
            <div></div>
        </a>
        <a href="#">
            <div></div>
        </a>
        <a href="#">
            <div></div>
        </a>
        <a href="#">
            <div></div>
        </a>
        <a href="#">
            <div></div>
        </a>
    </div>
    </div>
    <div class='index-articles container'>
        <div class='row'>
        {% for article in articles_page.object_list %}
            <div class='col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12'>
                <article>
                <header>
                    <h2><a href="{{ SITEURL }}/{{ article.url }}{% if not DISABLE_URL_HASH %}#{{ article.slug }}{% endif %}">{{ article.title }}</a></h2>
                </header>
                <div>
                    {{ article.content }}
                </div>
                </article>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}